@import './variables';

.card {
  background-color: $card_background_color;
  height: max-content;
  width: 200px;
  color: $accent-text-color;
  border-radius: $card-radius;

  &_image_container {
    border-top-right-radius: $card-radius;
    border-top-left-radius: $card-radius;
    background-color: red;
    height: 100px;
  }

  &_content {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 40px 10px;

    p {
      &:last-child {
        color: $price-color;
      }
    }
  }
}
