@import './variables';

%btn {
  background-color: $primary-color;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
