// Variables
$primary-color: yellow;
$accent-color: green;
$text-color: #fff;
$accent-text-color: black;
$price-color: orange;
$card_background_color: lightgray;

// Font Families
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Page Width
$page-width: 50%;

// Card border radius
$card-radius: 10px;


