// Variables
$primary_color: #f4ce14;
$accent_color: #495e57;
$white_text: white;
$secondary_text_color: #333333;
$price_color: #ee9972;
$card_background_color: #edefee;

// Font Families
$font_family: 'Markanzi', 'Times New Roman', Times, serif;
$secondary_font_family:  Helvetica;

// Page Width
$page_width: 50%;

// Card border radius
$card_radius: 10px;
