// Variables
$primary-color: black;
$accent-color: green;
$text-color: #fff;

// Maps
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

// Width
$page-width: 70%;

// Card border radius
$card-radius: 10px;
