@import './resets';
@import './mixins';
@import './variables';

// Default app styles
body {
  background: white;
  color: $secondary_text_color;
  height: 100%;
  font-family: $font_family;
}

a {
  color: $secondary_text_color;
  text-decoration: none;
}

@import './navbar';
@import './home';
@import './card';
