@import './resets';
@import './mixins';
@import './variables';

// Default app styles
body {
  background: $text-color;
  color: $accent-text-color;
  height: 100%;
  font-family: $font-family;
}

a {
  color: $accent-text-color;
  text-decoration: none;
}

@import './navbar';
@import './home';
@import './card';
